<a href="https://colab.research.google.com/github/freitaasw/Analises_Saeb/blob/gsp3-patch-1/C%C3%B3pia_de_projeto_saeb_sidi02.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Preparação dos dados

In [1]:
# Lendo drive
from google.colab import drive
drive.mount('/content/drive/')

Mounted at /content/drive/

In [2]:
# bibliotecas necessárias
import os
import pandas as pd
from matplotlib import pyplot as plt
import numpy as np
import seaborn as sns

from sklearn.feature_selection import mutual_info_classif
from sklearn.feature_selection import SelectKBest
from sklearn.model_selection import train_test_split

from sklearn.cluster import KMeans
from sklearn.svm import SVC
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.tree import plot_tree

from sklearn.metrics import accuracy_score
from sklearn.metrics import precision_score
from sklearn.metrics import recall_score
from sklearn.metrics import f1_score

from imblearn.over_sampling import SMOTE

# Lendo dados

In [6]:
# dados em pasta 
pasta = '/content/drive/My Drive/Projeto-SiDi02/DADOS/SAEB2019/'

In [8]:
# lendo dados
dados = pd.read_csv(pasta + 'TS_ALUNO_9EF.csv', sep=',')

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (43,44,45,46,47,48,49,50,51,52) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [9]:
dados.head()

   ID_SAEB  ID_REGIAO  ID_UF  ...  TX_RESP_Q018B  TX_RESP_Q018C  TX_RESP_Q019
0     2019          1     11  ...              B              A             C
1     2019          1     11  ...              A              A             C
2     2019          1     11  ...              B              B             D
3     2019          1     11  ...              A              A             D
4     2019          1     11  ...              A              A             C

[5 rows x 130 columns]

In [13]:
# lendo dados
dados = pd.read_csv(pasta + 'TS_ITEM.csv', sep=';')

In [14]:
dados.head()

   ID_SERIE TIPO_PROVA DISCIPLINA  ...  ID_ITEM  ID_DESCRITOR_HABILIDADE  GABARITO
0         2  Macrotipo         LP  ...   117484                     H1.1         B
1         2  Macrotipo         LP  ...   117496                     H2.1         C
2         2  Macrotipo         LP  ...   117535                     H2.1         D
3         2  Macrotipo         LP  ...   117442                       H4         B
4         2  Macrotipo         LP  ...   117438                       H5         C

[5 rows x 9 columns]